<html>
<br><br><br><br><br><br>
<br> <br> <br>


<div class="col-md-6 col-md-offset-2">
<div class="jumbotron">
<div class="container">



<center><h1>Welcome to SOLEFOOD</h1>
<b>"the global community for sneakerheads" </b>

<br> <br>


        <a href="/signup" class="btn btn-primary">Sign up</a>
        <a href="/login" class="btn btn-secondary">Sign in</a> <br> <br>
        <p>


        <a href="/auth/facebook">
                <img alt="fb button" src="https://i.stack.imgur.com/oL5c2.png"
                width="190" height="40"> </a>
        </p>
        </center>

</html>

