<br><br><br><br><br><br><br><br>



<center><h1>Welcome to Solefood</h1>


<p>

<%= link_to "Login" , login_path(@user)%> | <%= link_to "Signup" , signup_path(@user) %> <br> <br>

LOG IN WITH FACEBOOK <br> <br>
LOG IN WITH GOOGLE


</p>
</center>