<br><br><br><br><br><br><br><br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>



<center><h1>Welcome to Solefood</h1>
<b>"the global sneakerhead community" </b>


<p>

<a href="/signup" class="btn btn-primary">Sign up</a>
 <a href="/login" class="btn btn-secondary">Sign in</a> <br>


LOG IN WITH FACEBOOK <br>
LOG IN WITH GOOGLE


</p>
</center>