<br><br><br><br><br><br><br><br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>

<div class="col-md-8 col-md-offset-2">
<div class="jumbotron">
<div class="container">

<center><h1>Welcome to Solefood</h1>
<b>"the global sneakerhead community" </b>


<p>

<a href="/signup" class="btn btn-primary">Sign up</a>
 <a href="/login" class="btn btn-secondary">Sign in</a> <br>

 <br>

<%= link_to('Log in with Facebook!', '/auth/facebook') %>



</p>
</center>