<br>
Welcome <%= @user.username %> you're signed in now

<%= link_to "Add Sneaker" , new_sneaker_path %>
<%= <a href="/login" class="btn btn-secondary">Log out</a>, logout_path %>

<br> <br><br> <br><br> <br><br> <br><br> <br><br> <br> <br> <br><br> <br><br> <br><br> <br> <br> <br><br> <br><br> <br>
