<br>
Welcome <%= @user.username %> you're signed in now

<%= link_to "Add Sneaker" , new_sneaker_path %> <br>
<a href="/logout" class="btn btn-secondary">Log out</a> <br>

<br> <br><br> <br><br> <br><br> <br><br> <br><br> <br> <br> <br><br> <br><br> <br><br> <br> <br> <br><br> <br><br> <br>
