<h2>Edit Sneaker</h2>

<% if @sneaker.errors.any? %>
  <ul>
    <% @sneaker.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <%end%>
  </ul>
<%end%>


<%= form_for @sneaker do |f|%>
  <%=render partial: 'form', locals: {f: f}%>
    <%=f.submit "Update Sneaker"%>
<%end%>

