
<h2>Sneaker Collection</h2>
            <ul>
        <% @sneakers.each do |sneaker| %>
        <li><%= sneaker.name %></li>
        <%end%>
        </ul>

        <br><br><b><br><br><br><br></b>        <br><br><b><br><br><br><br></b>        <br><br><b><br>        <br><br><b><br><br><br><br></b>        <br><br><b><br><br><br><br></b>

