<h2>Add New Sneaker </h2>


<%if @sneaker.errors.any?%>
<% @sneaker.errors %>

<ul>
    <% @sneaker.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for(@sneaker) do |f|%>
  <%=render partial: 'form', locals: {f: f}%>
<%= f.submit %>
<% end %>

<br><br><br><br><br><br><br><br><br><br><br><br>
